.layout-container {
  display: flex;
}

.layout-container.layout-mobile-active .layout-mask {
  display: block;
  animation: fadein 0.2s;
}

.layout-container {
  .layout-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 15rem;
    transition: 0.2s ease-in-out;
  }
}
.p-sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
}

.layout-container .layout-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15rem;
  transition: 0.2s ease-in-out;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  padding: 0rem 2rem;
  transition: margin-left 0.2s;
}

aside {
  transition: 0.2s ease-in-out;
  .router-link-exact-active {
    font-weight: 700;
  }
}
