@media screen and (max-width: 991px) {
  aside {
    z-index: 3;
  }

  .layout-container {
    .layout-content {
      margin-left: 0rem;
    }
  }

  .layout-content {
    z-index: 0;
  }

  .layout-container .layout-mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .layout-container.layout-mobile-active .layout-mask {
    display: block;
    animation: fadein 0.2s;
  }
}
